.buttons-row{
	margin-top: 20px;
}

.alert-heading{
	text-align: center;
}

#success-alert{
	z-index: 10;
}

/*#updator{
	display: none;
}*/

legend{
	font-size: 1em;
}

.modal-dialog {
	height: auto;
  width: 100%;
}

.modal-content {
  border-radius: 0;
}

#addTitle, #modifyTitle{
	font-weight: bold;
}